*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Spartan';
    font-size: 15px;
}
main.container{
    display: flex;
    flex-direction:column;
    align-items: center;
    height: 100vh;

}

div.middle{
    margin: 5%;
}


div.heading h1{
    font-family: 'Spartan';
    font-weight:700;
    color: hsl(300, 43%, 22%);
    padding: 30px;
    margin-top:0;
    text-align:center;
}

div.heading p{
    color: hsl(303, 10%, 53%);
    text-align: center;
    line-height:1.7;
    font-weight: 400;
    padding:0 25px;
    margin-bottom: 40px;
}

/* STARS */

div.stars{
    text-align: center;
    font-weight: bold;
    color:  hsl(300, 43%, 22%);
}

div.stars1{
    margin-bottom: 1.2rem;
    border-radius: 10px;
    background-color: hsl(300, 24%, 96%);
    padding-top:1.2rem;
}

div.stars p{
    margin-bottom: 10px;
}

div.stars img{
    margin-right: .5rem;
    width: 20px;
    height:20px;

}

p{
    padding:10px 20px;
}

/* BUYER */

div.buyer{
    margin-top: 3rem;

}
div.buyer div{
    margin-bottom: 1rem;
    padding: 20px;
    border-radius: 1rem;
    position: relative;
    background-color:hsl(300, 43%, 22%);
}

div.buyer img{
    position: relative;
    left:1.2rem;
    width:50px;
    border-radius:50%;
}

div div.name{
    position: absolute;
    top: .4rem;
    left: 6rem;
    
}

div.buyer p{
    margin:1rem 0;
    line-height: 1.5;
    color: hsl(300, 24%, 96%);
}

.name span:first-of-type{
    color: white;
    font-weight: 700;
}
.name span:last-of-type{
   color: hsl(333, 80%, 67%);
   line-height: 2;
}



@media(min-width:1000px){
   
    div.middle{
        flex-direction:row;
        display:flex;
        height: 100vh;
        flex-wrap: wrap;
        margin-top:2%;

    }
    div.heading{
        padding:5rem 0;
        padding-left: 10rem;
        flex-wrap: wrap;
        width:40%;
       
    }
    div.heading h1{
        font-size:3.5rem;
        text-align:left;
    }

    div.heading p{
        text-align:left;
        font-weight: 500;
        padding-right:0;
        font-size: 1rem;
    }


    /* STARS */
    div.stars{
        width: 60%;
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding:5rem 1rem;
    }
  
    div.stars1{
        display: flex;
        flex-wrap: wrap;
        width:50%;
        padding-left:3rem;
    }
    div.stars1 img{
        margin-top: 7px;
    }

    div.stars1:first-of-type{
       position:relative;
       right:50px;
     }
     div.stars1:last-of-type{
        position:relative;
        right:-50px;
     }

     /* buyer */

     div.buyer{
        margin-top: 0;
         width:100%;
         display: flex;
         justify-content: center;
         align-items:center;
        
     }

    div.buyer1{
        width:24%;
        margin-right: 2.5rem;
    }
     div.buyer1:first-of-type{
        position:relative;
        top:-7%;
    }
     div.buyer1:last-of-type{
        position:relative;
        top:7%;
        
    }
}
